@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body{
    background-color: #3C4048;
    font-family: 'Bubblegum Sans', cursive;
}

.seleccionar-mokepones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo {
    color: #00ABB3;
    font-size: 48px;
    margin: 20px 0px;
}

.contenedor-seleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-titulo{
    margin: 0px 0px 20px 0px;
    color: #B2B2B2;
}

.tarjetas-mokepones{
    display: flex;
    width: 380px;
    gap: 10px;
    flex-wrap: wrap;
}

.mokepones {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    height: 156px;
    background-color: #00ABB3;
    color: #3C4048;
    gap: 5px;
    border-radius: 15px;
}

.mokepones:hover{
    background-color: #00aab3a4;
    cursor: pointer;    
}

input:checked + label{
    background-color: #00aab3a4;
}

.mokepones p{
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.mokepones img {
    width: 68px;
    height: 68px;
    object-fit: cover;
}

.radius-inputs{
    display: none;
}

#boton-mascotas {
    font-family: 'Bubblegum Sans', cursive;
    color: #00ABB3;
    margin: 30px;
    width: 150px;
    height: 50px;
    font-size: large;
    border-radius: 25px;
    border: 2px solid #00ABB3;
    background-color: transparent;
}

#boton-mascotas:hover{
    color: #3C4048;
    cursor: pointer;
    background-color: #00ABB3;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#ver-mapa div{
    display: none;
}

#mapa {
    border: 2px solid #B2B2B2;
}

#seleccionar-ataque {
    grid-template-rows: 1fr;
    justify-items: center;
}

#seleccionar-ataque h2{
    margin: 0px 0px 20px 0px;
    color: #B2B2B2;
}

.contenedor-botones-ataque {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-botones-ataque button{
    font-family: 'Bubblegum Sans', cursive;
    color: #00ABB3;
    margin: 30px;
    width: 172px;
    height: 50px;
    font-size: large;
    border-radius: 25px;
    border: 2px solid #00ABB3;
    background-color: transparent;
}

.contenedor-botones-ataque button:hover{
    color: #3C4048;
    cursor: pointer;
    background-color: #00ABB3;
}

.contenedor-mensaje-combate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.contenedor-mensaje-combate p:nth-child(1){
    display: flex;
    flex-direction: row;
}

.info-combate-jugador, .info-combate-enemigo{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 150px;
    width: 150px;
    border: 3px solid #00ABB3;
    border-radius: 25px;
}

.info-combate-jugador div, .info-combate-enemigo div{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.info-combate-jugador div > img, .info-combate-enemigo div > img{
    width: 20px;
    object-fit: contain;
}

.contenedor-mensaje-combate:nth-child(1n){
    color: #B2B2B2;
}

.contenedor-mensaje-combate p{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.contenedor-boton-reiniciar {
    justify-content: center;
}

.contenedor-boton-reiniciar button{
    font-family: 'Bubblegum Sans', cursive;
    color: #00ABB3;
    margin: 30px;
    width: 150px;
    height: 50px;
    font-size: large;
    border-radius: 25px;
    border: 2px solid #00ABB3;
    background-color: transparent;
}

.contenedor-boton-reiniciar button:hover{
    color: #3C4048;
    cursor: pointer;
    background-color: #00ABB3;
}

.mensajes-combate {
    flex-direction: column;
    align-items: center;
    color: #B2B2B2;
}

.versus {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 150px;
}

.versus img{
    width: 90px;
    object-fit: cover;
}

.FUEGO {
    color: #DC5F00;
}

.💧 {
    color: #00a2ff;
}

.🌱 {
    color: #5ea174;
}

.Empate {
    color: #00ABB3;
}

.GANASTE {
    color: #E6B325;
}

.PERDISTE {
    color: #C3195D;
}

footer{
    display: flex;
    justify-content: center;
}



@media (max-width: 480px ){
    .contenedor-botones-ataque button{
        font-family: 'Bubblegum Sans', cursive;
        color: #00ABB3;
        margin: 4px;
        width: 85px;
        height: 85px;
        font-size: medium;
        border-radius: 50px;
        border: 2px solid #00ABB3;
        background-color: transparent;
        margin-bottom: 15px;
    }

    .contenedor-mensaje-combate{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0px;
        justify-items: center;
    }

    .info-combate-jugador{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .info-combate-enemigo{
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .info-combate-enemigo, .info-combate-jugador{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100px;
    }

    .mokepones{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 106px;
    }

    .img-jugador{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    
    .img-enemigo{
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .versus{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .contenedor-boton-reiniciar button{
        margin: 8px;
    }

    .contenedor-botones-ataque{
        margin: 30px;
        display: flex;
        grid-row-start: 3;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tarjetas-mokepones{
        justify-content: center;
    }

    #tipo-ataque-jugador, #tipo-ataque-enemigo{
        justify-content: center;
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 955px ){
    #ver-mapa div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 30px;
    }

    #ver-mapa div > button{
        font-family: 'Bubblegum Sans', cursive;
    color: #00ABB3;
    width: 52px;
    height: 32px;
    font-size: medium;
    border-radius: 50px;
    border: 2px solid #00ABB3;
    background-color: transparent;
    margin: 0px;
    }

    #move-up {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    #move-lf {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    #move-rg {
        grid-column-start: 3;
        grid-row-start: 2;
    }
    #move-dw {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .contenedor-botones-ataque {
        grid-row-start: 3;
    }

    .contenedor-botones-ataque button:hover{
        color: #3C4048;
        cursor: pointer;
        background-color: #00ABB3;
    }

}